.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-coraxy);
  padding: 2rem 1rem;
}

.card {
  background: rgba(0, 0, 0, 0.35);
  background-color: var(--dark-700);
  padding: 3rem 4rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);

  width: 100%;
  max-width: 420px;
  max-height: 90vh;
  overflow-y: auto;

  h1 {
    color: #ffffff;
    margin-top: 1rem;
    font-size: 2.3rem;
  }

  .subtitle {
    color: #cccccc;
    margin: 0.5rem 0 2rem 0;
    font-size: 0.95rem;
  }
}

.logo {
  width: 180px;
  height: auto;
  margin: 0 auto 1rem auto;
  display: block;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  // 2 colunas para botões
  gap: 1rem;
  width: 100%;
  max-width: 420px;
  margin: 2rem auto 0 auto;

  /* Quando for necessário, pode ajustar para apenas uma coluna no mobile */
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.primaryBtn,
.secondaryBtn {
  background: var(--yellow-500);
  padding: 0.9rem 0.6rem;
  border-radius: 16px;
  text-decoration: none;
  color: var(--dark-900);
  font-weight: 700;
  font-size: 0.85rem;
  text-align: center;
  transition: 0.2s;
  white-space: nowrap;

  &:hover {
    transform: scale(1.05);
  }
}

.secondaryBtn {
  background: #333;
  padding: 0.9rem;
  border-radius: 16px;
  text-decoration: none;
  color: var(--dark-900);
  font-weight: 600;
  transition: 0.2s;
  background-color: var(--yellow-500);

  &:hover {
    transform: scale(1.05);
  }
}

/* 🔥 Scroll bonito e discreto */
.card {
  scrollbar-width: thin;
  scrollbar-color: var(--yellow-500) transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--yellow-500);
    border-radius: 10px;
  }
}

.actions a:last-child {
  grid-column: span 2;
  justify-self: center;
  width: 70%;
}
