.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-coraxy);
}

.card {
  background: rgba(0, 0, 0, 0.35);
  padding: 3rem 4rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  background-color: var(--dark-700);

  /* ⬅️ Estilos encapsulados permitido em CSS modules */
  h1 {
    color: #fff;
    margin-top: 1rem;
    font-size: 2.3rem;
  }

  .subtitle {
    color: #ccc;
    margin: 0.5rem 0 2rem 0;
  }
}

.logo {
  width: 180px;
  height: auto;
  margin: 0 auto 1rem auto;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
  margin: 0 auto;
}

.primaryBtn {
  background: var(--yellow-500);
  padding: 0.9rem;
  border-radius: 16px;
  text-decoration: none;
  color: var(--dark-900);
  font-weight: 700;
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.secondaryBtn {
  background: #333;
  padding: 0.9rem;
  border-radius: 16px;
  text-decoration: none;
  color: var(--dark-900);
  font-weight: 600;
  transition: 0.2s;
  background-color: var(--yellow-500);

  &:hover {
    transform: scale(1.05);
  }
}