/* ================================
   LAYOUT GERAL DA PÁGINA
================================= */

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Título */
.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--white);
}


.formCard {
  background: var(--yellow-500);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* ================================
   CAMPOS DO FORMULÁRIO
================================= */

.label {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
  color: var(--dark-900);
}

.input,
.textarea {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 12px 15px;
  font-size: 15px;
  background: #fafafa;
  transition: border 0.2s;

  &:focus {
    border-color: #0030d6;
    background: #fff;
    outline: none;
  }
}

.textarea {
  min-height: 120px;
  resize: vertical;
}

/* Checkboxes */
.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 10px;

  input {
    width: 18px;
    height: 18px;
  }
}

/* ================================
   AREA DE BOTÕES
================================= */

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.cancelBtn {
  padding: 10px 22px;
  border-radius: 8px;
  background: #f3f3f3;
  color: #444;
  font-weight: 600;
  border: 1px solid #ccc;
  cursor: pointer;

  &:hover {
    background: #e6e6e6;
  }
}

.saveBtn {
  padding: 10px 22px;
  border-radius: 8px;
  background: #2ecc71;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: none;

  &:hover {
    background: #28b866;
  }
}
 .checkboxGroup{
  color: var(--dark-900);
 }

 .backFloating {
  position: fixed;
  top: 20px;
  right: 20px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  border-radius: 8px;
  padding: 8px 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;

  color: white !important;
  z-index: 9999;

  &:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.08);
  }
}