/* Estilo para a seção de pesquisa */
.searchSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  max-width: 600px; /* Tamanho máximo para evitar que ocupe toda a largura */
}

/* Estilo para o input de pesquisa */
.searchInput {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px; /* Espaço abaixo do input */
  background-color: #fff;
  transition: border-color 0.3s;

  &:focus {
    border-color: #f2c010; /* Cor da borda ao focar */
  }
}

/* Estilo para o select de parâmetros */
.selectField {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px; /* Espaço abaixo do select */
}

/* Estilo para os botões de ação (Editar e Excluir) */
.button {
  background-color: #f2c010;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px; /* Espaço entre os botões */
  transition: background-color 0.3s;

  &:hover {
    background-color: #e1b507; /* Cor de fundo ao passar o mouse */
  }
}

.buttonExcluir {
  background-color: #d12b15;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px; /* Espaço entre os botões */
  transition: background-color 0.3s;

  &:hover {
    background-color: #e6260d; /* Cor de fundo ao passar o mouse */
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 15px;
}